body{
    font-family: "Lucida Grande","Lucida Sans Unicode", "Lucida Sans", Verdana,Arial,sans-serif;
}

.container{
    margin:auto;
    padding: 0px;
    width: 1024px;
    text-align: center;
}

.display-sections{
    width: 100%;
    min-height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    background: url(../../src/themes/blue-icon/images/content_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: left;
}

.section-experiment{
    margin-left: 45px;
    margin-right: 45px;
}

.head1{
    color: #222222;
    font-weight: 800;
    font-size: 30px;
    padding-bottom: 10px;
}

.data{
    font-size: 16px;
    color: #444444;
    padding:10px;
    text-align: center;
}

select{
    border-width: 0.5px;
    border-style: solid;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    text-align: left;
    zoom:120%;
    color:#444444;
}

.experiment-area{
    text-align: center;
}

#experiment-corpus, #experiment-table-head{
    color: #444444;
    line-height: 24px;
    padding-left:50px;
    padding-right:50px;
    text-align: justify;
}

#experiment-table-head{
    text-align: center;
    padding-top: 5px;
}

#experiment-table, #answer-status,
#continue-functionality{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

table,tr,td{
    margin-left: auto;
    margin-right: auto;
    color: #444444;
    border:2px solid rgb(195, 195, 195);
    border-collapse: collapse;
    padding:10px;
}

input[type=submit], #continue,
#new-types-box, #continue-submit{
    margin:0 auto;
    display:flex;
    justify-content: center;
    padding:5px;
    width: 70px;
    height:30px;
    text-align: center;
}

input[type=text], #new-types-box{
    color : #444444;
    height:20px;
    text-align: center;
}

#right-answer, #right-answer1{
    font-size: 20px;
    color: #008000;
    margin:5px;
}


#new-types-box{
    height:15px;
    width: 60px;
}

#wrong-answer, #wrong-answer1{
    font-size: 20px;
    color: #FF0000;
    margin:5px;

}